

@mixin article-card( $thirdcolor: blue, $firstcolor:green) {
    text-align: center;
    color: $thirdcolor;
    font-size: rem(16);
    border: 1px solid $firstcolor;
}

@mixin article-cardd($secondcolor:red, $firstcolor:green) {
    text-align: center;
    color: $secondcolor;
    font-size: rem(16);
    border: 1px solid $firstcolor;
}

@mixin article-carddd($firstcolor:green, $thirdcolor:blue ) {
    text-align: center;
    color:  $firstcolor;
    font-size: rem(24);
    border: 1px solid $thirdcolor ;
}

@function rem($font-size) {
    $font-size: calc($font-size/16);
    @return ($font-size+rem)
}
