$first-color : red;
$second-color : green;
$third-color : blue;

div {
    border: 1px solid $first-color;
    width: 90%;
    padding: 20px;

    h1 {
        font-weight: bold;
        text-decoration: underline;
        color: $second-color;
        text-align: center;
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section article{
        border: 1px solid $second-color;
        text-align: center;

    }

    section .odd {
        color: $third-color;
    }
    section .even {
        color: $first-color;
    }
}